<div class="contactevent-div">
	<h1>Change Password</h1>
	<div id="form-div" class="contactevent-iner">
        <?php if($this->error && isset($this->form)){
            if(isset($this->error['password'])) echo '* Please enter your current password.<br>';
			if(isset($this->error['newpwd'])) echo '* Please enter new password.<br>';
			if(isset($this->error['cnfrmpwd'])) echo '* Please confirm your new password. <br>';
			if(isset($this->error['login'])) echo '* Current password is not correct. <br>';
			if(isset($this->error['pwd_mismatch'])) echo '* New password and confirm password didn\'t match. <br>';
			if(isset($this->error['success'])) echo '* Successfully changed password. <br>';
        }
		?>
        <form method="post" action="/snapp/user/chpwd">
			<p>
            	<label class="required" for="password">Current Password:</label>
                <input type="password" value="" id="password" name="password">
			</p>
            <p>
            	<label class="required" for="newpwd">New Password:</label>
            	<input type="password" value="" id="newpwd" name="newpwd">
			</p>
            <p>
            	<label class="required" for="cnfrmpwd">Confirm Password:</label>
                <input type="password" value="" id="cnfrmpwd" name="cnfrmpwd">
			</p>
            <p class="button-line"> 
            	<input type="submit" value="Submit" id="chpwd_btn_sub" name="chpwd_btn_sub">
        	</p>
		</form>	
    </div>  
</div>