<div class="contactevent-div">
	<h1>Delete Account</h1>
	<div id="form-div" class="contactevent-iner">
        <p>Are you sure you want to delete your account? By deleting your account you will never able to access your account anymore. Kindly confirm your action.</p>
        <form method="post" action="/snapp/user/delacc">
            <p class="button-line"> 
            	<input type="submit" value="Confirm" id="delacc_btn_cnfrm" name="delacc_btn_cnfrm">
        	</p>
		</form>	
    </div>  
</div>