#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background:#666666;
	font-family:arial;
	font-size:12px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	padding:0px;
	cursor:pointer;
	padding-left:2px;
}
#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{
	padding:0px;
	cursor:pointer;
	padding-left:2px;
}
#calendarDiv td{
	padding:2px;
	margin:0px;
	font-size:12px;
}
#calendarDiv .selectBox{
	line-height:14px;
	height:14px;
	top:0;
	border:1px solid #fff;
	padding:0; margin:0 2px 0 0;
	color:#000;
	position:relative;
	font-size:11px;
}
#calendarDiv .selectBoxOver{
	line-height:14px;
	height:14px;
	top:0;
	border:1px solid #000;
	padding:0; margin:0;
	background:#317082;
	color:#FFFFFF;
	position:relative;
	font-size:11px;
}
#calendarDiv .selectBoxTime{
	line-height:14px;
	height:14px;
	top:0;
	height:12px;
	border:1px solid #317082;		
	color:#000;
	position:relative;
	font-size:11px;
}
#calendarDiv .selectBoxTimeOver{
	line-height:14px;
	height:14px;
	top:0;
	border:1px solid #216072;	
	color:#216072;
	position:relative;
	font-size:11px;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background:#317082;
}
#calendarDiv .activeDay{ /* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	padding:0px;
	background:#317082;
	color:#FFFFFF;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}	
#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background:#999999;
	width:72px;
	color:#FFFFFF;
	position:absolute;
	right:0px;
}
#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}
#calendarDiv .monthYearPicker{
	background:#999999;
	border:1px solid #AAAAAA;
	position:absolute;
	color:#fff;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;
}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background:#317082;
	color:#ffffff;
}
#calendarDiv td{
	text-align:right;
	cursor:pointer;
	color:#FFFFFF;
}
#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}