/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	/*max-width: 100%;*/
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	background:url(../images/main-bg.jpg) 0 0 repeat-x;
	font: .81em/100% Arial, Helvetica, sans-serif;
	color: #666;
}
a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 0em;
	padding: 0;
}

/* list */
ul, ol {
	margin: 1em 0 1.4em 24px;
	padding: 0;
	line-height: 100%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 20px 0 .4em;
	color: #000;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	width: 980px;
	margin: 0 auto;
}

/*********************************************HEADER************************************/
#header {
	height: 95px;
}
#header h1{
  margin: 7px 0 0 0;
  padding: 0;
}


hgroup {
    float: left;
    width: 131px;
}

/* site logo */
#site-logo {
	top: 0px;
}
#site-logo a {
	font: bold 50px/100% Conv_Fette Engschrift;
	color: #fff;
	text-decoration: none;
}

/* site description */
#site-description {
	font: italic 100%/130% "Times New Roman", Times, serif;
	color: #fff;

	top: 55px;
}



/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/

.navi{width:828px; height:auto; margin:0px; padding:0px; float:left;}

a.search {padding:11px 11px !important;}
.pro-right-busi-ifo {
    float: right !important;
    margin-left: 22px;
    margin-top: 0 !important;
}

/************************************************************************************
CONTENT
*************************************************************************************/
#content {
	background: #fff;
	margin:2px 0 30px;
	padding: 20px 0px;
	width: 980px;
	float: left;
}

.content-left {
	background: #fff;
	margin:0px;
	padding:0;
	width: 490px;
	float: left;
	position:relative;
}

.login-message {
    color: #FF0000;
    left: 128px;
	line-height: 17px;
    position:absolute;
    top: 128px;
}

.register-message {
    color: #FF0000;
    line-height:17px;
    margin-left:77px;
}

.form-left {
	background:#fff;
	margin-top:160px;
	padding:0;
	width:490px;
	float:left;
}

.sp_but {
    color:#014166 !important;
    font-size:20px;
    height:40px !important;
    text-shadow: 2px 2px 3px;
    width:160px !important;
	cursor:pointer;
}

.form-left h1{
font:bold 36px/100% Conv_Fette Engschrift;
color:#014166;
text-align:left;
padding-left:130px;
}


.form-left > label span {
    display:block;
    float:left;
    font-size:20px;
    height:33px;
    line-height: 33px;
    width:130px;
}


.chk-box{width:14px !important; height:10px !important; margin:9px 5px 0 0!important; padding:0px 0 0 0!important;}

.email-box {
    display: block;
    width: 490px;
	margin:0px;
	color:#3d3d3d;
}

.ck-box {
    display: block;
    margin:10px 0 10px 130px;
	font-size:12px;
}

.log-but {
    background-color: #014166;
    width: 70px !important;
	height:26px;
	line-height:26px;
	color:#FFF;
	margin:10px 20px 0px 0px;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border:1px solid #8d8f91;
}

label.error {
    color: red !important;
    display: block;
    font-style: italic;
    font-weight: normal;
}

.feilds.error.error2 {
    clear: right;
    float: left;
    margin-right: 10px;
}
.gender {
    float: left;
    margin: 10px 0 0;
}
.email-box a{color:#000;}
.email-box > a:hover {text-decoration: none;}

.login-but{
    width: 227px;
	height:30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border:1px solid #8d8f91;
}
.radio-but {color: #3D3D3D;}

.name.gendor {
    float: left;
    margin: 10px 0 0;
}

.form-left input{
    width: 227px;
	height:30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border:1px solid #8d8f91;
}


.form-left label{
    display: block;
    float: left;
    font-size: 20px;
    height: 33px;
    line-height: 33px;
    width: 130px;
}

.content-right {
	background: #fff;
	margin:0px;
	padding-bottom:50px;
	width: 490px;
	float: left;
	background:url(../images/divider.png) no-repeat left top;
}

.content-right h2 {
color: #014166;
font: bold 48px/100% Conv_Fette Engschrift;
padding-left: 80px;
text-align: left;
}

.content-right p .name {display: block;  font-size: 15px;}
.bir {float: left;  margin-right: 0 !important;   width: 112px !important;}
.bir2 { width: 110px !important;}

.content-right .cont-right .name {display: block; color:#3d3d3d; font-size: 15px;}

/*.content-right > p {margin-left: 80px; float:left;}
.text-feild {width:330px !important;}*/

.content-right  .cont-right {clear: both; float: left; margin-bottom: 18px; margin-left: 80px; width: 423px;}

.or {float: left; margin:30px 41px 0 53px;}
.radio {
    height: 10px !important;
    margin-right: 0 !important;
    padding: 0 10px !important;
    width: 30px !important;
}

.content-right .cont-right input {
    margin:10px 30px 0 0;
	height:20px;
	width:150px; 
	padding:5px;
	color:#b7b7b7;
	border:1px solid #8d8f91;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	
}


/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	width: 280px;
	float: right;
	margin: 30px 0 30px;
}
.widget {
	background: #fff;
	margin: 0 0 30px;
	padding: 10px 20px;
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.widgettitle {
	margin: 0 0 5px;
	padding: 0;	
}
.widget ul {
	margin: 0;
	padding: 0;
}
.widget li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: solid 1px #eee;
}

/* flickr widget */
.widget .flickr_badge_image {
	margin-top: 10px;
}
.widget .flickr_badge_image img {
	width: 48px;
	height: 48px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	clear: both;
	color: #ccc;
	font-size: 85%;
	background:url(../images/footer-line.png) center top no-repeat;
}
#footer a {
	color: #014166;
	text-align:center;
	padding:30px 0;
	
	display:block;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }





/************************************************************************************
						PROFILE CSS 
*************************************************************************************/
.loading-bar {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    clear: both;
    font-size: 12px;
    margin: 0 auto;
    padding: 7px 10px;
    text-align: center;
    width: 53%;
}
.loading-bar-next {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    clear: both;
    font-size: 12px;
    margin:0 0 0 90px;
    padding: 7px 10px;
    text-align: center;
    width: 53%;
}


.pro-left{width:227px; height:auto; margin:0px; padding:0px; float:left;}
.pro-img{width:200px; height:auto; margin:0px; padding:0px; display:block; text-align:center; float:left;}
.busi-ifo{width:205px; height:auto; margin-top:25px; float:left; padding:0px ;}


.busi-ifo .head-box  { width:205px;
    background-color:#eeeeee;
    border-radius: 5px 5px 0 0;
    color: #014166;
    float: left;
    font-size: 20px;
    margin: 0;
    padding: 5px 10px;
    width: 185px;
	font:20px/100% Conv_Fette Engschrift
}

.head-box > img{
    padding-right: 10px;
}

.busi-ifo .pa-box{width:173px; padding:15px; line-height:18px; border:1px solid #e8e8e8; float:left;}


.busi-ifo .ca-box{width:192px; padding:5px; border:1px solid #e8e8e8; float:left;}
.busi-ifo .ca-box ul{width:192px; float:left; margin:0px; padding:0px; list-style:none;}

.busi-ifo .ca-box ul li {
	width:192px;
    border-bottom: 1px solid #E8E8E8;
    float: left;
    margin: 0;
    padding: 5px 0;
}

.busi-ifo .ca-box ul li:hover{background-color:#014166; color:#fff; text-decoration:none; cursor:pointer;}
.busi-ifo .ca-box ul li.active{background-color:#014166; color:#fff;}
.busi-ifo .ca-box ul li a {color: #676565; text-decoration: none;}

.img-box { width:28px; padding-right:5px; float:left;}

.name-fri { 
		float: left;
    font-size: 13px;
    padding: 3px 0 0 28px;
    width: 105px;}
.name-fri span {display: block; font-size: 10px; margin-top: 4px;}



.date {float: left;  font-size: 11px;  width:90px; text-align:right;}
.img-box img {padding:0; margin: 0 0 0 4px;}

.date > a { 
	background:#014166;    color: #FFFFFF;
    font-size: 10px;
    padding: 2px 13px;
	display:block;
}
.head-box input {
    border: 1px solid #E8E8E8;
    border-radius: 4px 4px 4px 4px;
    float: right;
    margin-top: 2px;
    width: 77px;
}


/* mid */

.pro-mid{width:506px; height:auto; margin:0px; padding:0px; float:left;}

.msg-box{width:484px; height:auto; margin:0px; padding:10px; border:1px solid #dedede; background-color:#f7f7f7; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; float:left;}
.msg-box a {color: #000000; line-height: 29px; text-decoration: none;}

.msg-cell-box{width:441px; height:30px; margin:5px 0; padding:5px 5px 5px 35px; border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background:#FFF url(../images/msg-icon.jpg) 10px center no-repeat; float:left;}

.msg-cell-box2{background:#FFF url(../images/lan-icon.png) 10px center no-repeat !important;}
.msg-cell-box3{background:#FFF url(../images/con-icon.png) 10px center no-repeat !important;}


.msg-cell-box-text{width:471px; height:100px; margin:5px 0; padding:5px; border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background-color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999; float:left;}

.msg-cell-box-add{width:471px; height:9px; margin:5px 0; padding:5px; float:left;}
.msg-cell-box-add ul{width:471px; height:30px; margin:0px; padding:0px; list-style:none; float:left;}
.msg-cell-box-add ul li{list-style:none; float:right;}
.msg-cell-box-add ul li a{font-size:12px; color:#b1abab; text-decoration:none; padding:0 20px;}
.msg-cell-box-add a img {padding-right: 5px;}

.msg-top-pad{margin-top:25px;}
.msg-cell-box-add ul li:last-child {border-right: 1px solid;}

.lan-link{width:300px; height:auto; margin-top:20px; padding:0px; float:left; border:1px solid #dedede; background-color:#f7f7f7; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}

.lan-link ul { width: 300px; height: auto; list-style: none outside none;  margin: 0; padding: 7px 0; float: left;}
.lan-link ul li {border-right: 1px solid #666666; float: left; height: 20px; line-height: 20px; list-style:none;  margin: 0; padding: 0;}
.lan-link ul li a {color: #676565; display: block; font-size: 12px; margin: 0; padding: 0 27px; text-decoration: none;}
.lan-link ul li a:hover{color:#666;}

.lan-link ul li:last-child{border:none;}


.post-main{width:506px; height:auto; margin:0px; padding-bottom:10px; /*border-bottom:1px solid #E8E8E8;*/ float:left;}
.post-img{width:506px; height:auto; margin-top:25px; padding:0px; float:left;}
.post-img-left{width:60px; height:auto; margin:0px; padding:0px; float:left;}
.post-img-right > span {color: #B1ABAB; padding:5px 0; display: block;}
.post-img-right{width:434; height:auto; margin:0px; padding-left:6px; float:left;}

.comm-main:last-child {border:none;}

.post-post{width:430px; height:auto; /*margin-left:60px;*/ padding:5px; float:left;
border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background-color:#F7F7F7; float:left;}

.post-post-inner{width:418px; height:auto; margin:0px; padding:5px; float:left;
border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background-color:#fff; float:left;}
.post-post-inner-text{width:418px; height:auto;}
.post-time-note{width:442px; height:auto; /*margin-left:60px;*/ padding:0px; float:left;}
.post-time-note p{ font-size:12px; width:430px; height:auto; color:#b1abab; margin:10px;}
.post-time-note p a{color:#b1abab; font-size:12px; text-decoration:none; padding-right:10px;}
.post-time-note p a:hover{color:#CCC;}

.post-time-note img {padding-right: 5px;}
.post-time-note span {float: right;}

.comm-main-poll{width:428px; height:auto; margin:0px; border-bottom:1px solid #e9e9e8; padding:0px; float:left;}
.comm-main{width:428px; height:auto; margin:0px; border-bottom:1px solid #e9e9e8; padding:0px; float:left;}
.comm-left{width:42px; height:auto; margin:0px; padding:4px 4px 8px 3px; float:left;}
.comm-right{width:363px; height:auto; margin-top:4px; padding:0px; float:left;  margin-bottom: 4px;}
.comm-right span{display:block; color:#b1abab; margin-top: 5px; }
.linkpoll{ font-size:85%;}

.comm-right > input {
    border: 1px solid #E7E7E7;
    border-radius: 5px 5px 5px 5px;
    height: 20px;
    margin-top: 3px;
    padding: 5px;
    width: 362px;
}

.add-que {
    height:17px;
    left:60px;
    margin-top:10px;
    width:92%;
}
.ques-label {
    font-weight: bold;
    text-align: center;
}
.ans-label {
    text-align: center;
}
.pro-right{width:226px; height:auto; margin:0px; padding:0px; float:left;}
.pro-right-busi-ifo{float: right !important; margin-top:0 !important;}

/********* Popup box start here **********/
.popbox{width:100%; margin:0 auto; border-radius:5px; border:1px solid #cdcaca; float:left;}
#overlay { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#popup {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
		font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}

.recommendpopup{ margin:0 auto; border-radius:5px;  float:left;}
#overlay-recommend { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#recommendpopup {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}





.contactevent-div h1{margin:0 0 20px 0; padding:10px; font-family:arial; font-size:16px; border-bottom:1px solid #dddbdb; color:#858383;}
.contactevent-iner{width:100%;float:left;margin:0;padding:0 0px 12px 0px;} 
.contactevent-iner p{float:left; width:96%; margin:0;padding:11px 0 0 14px; font-family: Helvetica; font-size:14px; color:#858383; font-weight:normal;}
.contactevent-iner p label{width:25%;float:left;line-height:20px;margin:0;}

.inputtt{margin:0; padding:10px;border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px; border:1px solid #d1d1d1; width:70%; }
.contactevent-div p{ color: #858383;  float: left; font-family: arial; margin: 0; padding: 5px 15px;    width:96%;}
.contactevent-div label{width:20%; float:left; line-height:33px;}
.skip_but {
    background-color: #014166;
    color: #FFFFFF;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
	border:none;
	border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
    margin: 10px 20px 0 130px;
padding:0 8px!important;
}
.but-right{float:right!important;margin:0 23px 0 0 !important; padding:0;}
.contactevent-div{width:100%/*730*/; margin:0 0 0 0; padding:0; background-color:#FFF; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; float:left;overflow:auto;}
.contactevent-div ul {width:100%; list-style:none ; margin:0px;padding:0px; float:left;}
.contactevent-div ul li {border-bottom: 1px solid #DDDBDB; list-style: none; margin: 0; padding: 12px; font-family:Arial, Helvetica, sans-serif;}
.contactevent-div input {margin: 0 10px 0 0;}
.close_button {position:absolute; right:-30px;cursor:pointer;border:none; margin-top:-32px;}

/*********Popup box ends here **********/

/*****************menu css start here**************************/
.menu_container {
	margin-bottom: 30px;
	height: 45px;
	clear: both;
	float: left;
	border-radius:2px;
	padding-left:0px;
	padding-right: 0px;
	margin-top:30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.menu_container.full_width {
	width: 100%
}
.menu_container>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	width: 100%;
	height: inherit
}
.menu_container>ul>li {
	display: block;
	float: left;
	padding: 0;
	
	position:relative;
}
.menu_container>ul>li>a {
	padding: 16px 6px;
	display: block;
	color:#676565;
	text-decoration: none;
	box-shadow: inset -1px 0 0 rgba(0,0,0,0.2);
	border-right: 1px solid rgba(255,255,255,0.25);
	transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-webkit-transition: background-color 200ms linear;
	font-size:20px;
	font-family: "Conv_Fette Engschrift", sans-serif;
	position:relative;
}
.menu_container>ul>li.right {
	float:left;
	position:relative;
}
.menu_container>ul>li.last>a {
	box-shadow: none;
	border-right: 0
}

.menu_container>ul>li:hover>a {
color:#000;

}
.menu_container>ul>li>.menu_dropdown_block {
	visibility:hidden;
	position:absolute;
	border:1px solid #ddd;
	border-top:0;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	background:#fff;
	top:100%;
	left:0;
	width:78px;
	font-size:11px;
	color:#575757;
	opacity:0;
	transition:opacity 100ms linear;
	-moz-transition:opacity 100ms linear;
	-o-transition:opacity 100ms linear;
	-webkit-transition:opacity 100ms linear;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:hidden;
	margin:-.1rem 0 0 !important;
	z-index:30
}

/*********mozila hack css here****************/
@-moz-document url-prefix(){
  .menu_container > ul > li.right > .menu_dropdown_block{
	 width:89px;
  }
  ul.menu_submenu_block{width:115px!important;}
}
/*********mozila hack css here****************/

/********* hack css here****************/
/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .menu_container > ul > li.right > .menu_dropdown_block{
	 width:85px;
  }
	.menu_container>ul>li>a{ padding:16px 5px; }
  ul.menu_submenu_block{width:115px!important;}
}

/********* hack css here****************/

/********* hack css here****************/
    /* Safari only override */
    ::i-block-chrome,.menu_container > ul > li.right > .menu_dropdown_block{
     width:90px;
    }
}
 
/********* hack css here****************/

.menu_container>ul>li.right>.menu_dropdown_block {
	right:0;
	
}
.menu_container>ul>li>.menu_dropdown_block p {
	padding: 5px 5px;
	margin-bottom: 10px;
	line-height: 1.7em
}
.menu_container>ul>li>.menu_dropdown_block *.small {
	font-size: 11px;
	color: #666
}
.menu_container>ul>li>.menu_dropdown_block p.links a {
	text-decoration: none
}
.menu_container>ul>li:hover>.menu_dropdown_block {
	visibility: visible;
	opacity: 1;
	margin-left:12px
}
.menu_container>ul>li>.menu_dropdown_block.full_width {
	left: 0;
	width: 100%;
	margin-left: 0
}
.menu_container>ul>li>.menu_dropdown_block.half_width {
	width: 50%
}
.menu_container>ul>li>.menu_dropdown_block .container {
	padding: 15px 20px 15px 20px
}
.menu_container>ul>li>.menu_dropdown_block .column {
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.menu_container>ul>li>.menu_dropdown_block .column.bordered {
	border-right: 1px solid #ddd
}
.menu_container>ul>li>.menu_dropdown_block .column.span1 {
	width: 100%
}
.menu_container>ul>li>.menu_dropdown_block .column.span2 {
	width: 50%
}
.menu_container>ul>li>.menu_dropdown_block .column.span3 {
	width: 33%
}
.menu_container>ul>li>.menu_dropdown_block .column.span4 {
	width: 25%
}
.menu_container>ul>li>.menu_dropdown_block .column.span5 {
	width: 20%
}
.menu_container>ul>li>.menu_dropdown_block .column.span6 {
	width: 16%
}
.menu_container>ul>li>.menu_dropdown_block .column.span10per {
	width: 10%
}
.menu_container>ul>li>.menu_dropdown_block .column.span20per {
	width: 20%
}
.menu_container>ul>li>.menu_dropdown_block .column.span30per {
	width: 30%
}
.menu_container>ul>li>.menu_dropdown_block .column.span40per {
	width: 40%
}
.menu_container>ul>li>.menu_dropdown_block .column.span50per {
	width: 50%
}
.menu_container>ul>li>.menu_dropdown_block .column.span60per {
	width: 60%
}
.menu_container>ul>li>.menu_dropdown_block .column.span70per {
	width: 70%
}
.menu_container>ul>li>.menu_dropdown_block .column.span80per {
	width: 80%
}
.menu_container>ul>li>.menu_dropdown_block .column.span90per {
	width: 90%
}
.menu_container>ul>li>.menu_dropdown_block .column .content {
	padding: 10px 20px
}
.menu_container>ul>li>.menu_dropdown_block h1, .menu_container>ul>li>.menu_dropdown_block h2 {
	font-family: "arial", sans-serif
}
.menu_container>ul>li>.menu_dropdown_block h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #555;
	border-bottom: 2px solid #888;
	padding: 5px 0 5px 5px
}
.menu_container>ul>li>.menu_dropdown_block h2 {
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0 5px 5px;
	margin: 0 0 10px 0;
	color: #666;
	border-bottom: 1px dotted #ccc
}
img.auto_width {
	width: auto;
	width: 100%
}
ul.menu_submenu {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px
}
ul.menu_submenu li {
	display: block
}
ul.menu_submenu li a {
	display: block;
	padding: 4px 0;
	text-decoration: none;
	color: #666;
	margin: 2px 0;
	font-family: arial, Verdana, sans-serif;
}
ul.menu_submenu li a:hover {
	color: #111
}
ul.menu_submenu li a>span {
	font-family: Calibri;
	font-size: 10px
}
ul.menu_submenu_block {
	list-style: none;
	padding: 0;
	margin: 0;
	margin: 0px 0 0px 0;
	width:104px;
	background-color:#f7f7f7;
}
ul.menu_submenu_block li {
	display: block;
	margin-bottom:0px !important;
	border-bottom:1px solid #CCC;
	
}
ul.menu_submenu_block li a {
	display: block;
	padding: 8px 12px;
	text-decoration: none;
	color: #666;
	margin: 0;
	font-family: Tahoma, Verdana, sans-serif
}
ul.menu_submenu_block li a:hover {
	color: #000;
	background-color:#e7e7e7;
}



.search-friend-result {
    background:#fff;
	box-shadow:0 3px 5px #DDDDDD;
    float: left;
   margin: 26px 0 0 9px;
    padding: 0;
    position: absolute;
  
    width: 175px;
}

.search-friend-result ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#search-friend-result ul li {
    border-bottom: 1px solid #DEDEDE;
    height: 32px;
    list-style: none outside none;
    padding:0px 0;
	width:175px;
	margin:0px;
	float:left;
	color:red;	
}

#search-friend-result ul li a{color:#676565; text-decoration:none;}
#search-friend-result ul li:hover{background-color:#014166; color:#fff;text-decoration:none}
#search-friend-result ul li a:hover{color:#fff;}










.general-search-list {
    background:#fff;
	box-shadow:0 3px 5px #DDDDDD;
    float: left;
    margin: 0 0 0 64px;
    padding: 0;
    position: absolute;
  
    width: 175px;
}

.general-search-list ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#general-search-list ul li {
    border-bottom: 1px solid #DEDEDE;
    height: 32px;
    list-style: none outside none;
    padding:0px 0;
	width:175px;
	margin:0px;
	float:left;
	color:red;	
}

#general-search-list ul li a{color:#676565; text-decoration:none;}
#general-search-list ul li:hover{background-color:#014166; color:#fff;text-decoration:none}
#general-search-list ul li a:hover{color:#fff;}
.general-img-box img {padding: 2px 5px 0 3px;}

.general-img-box {
    float: left;
    padding:0px;
    width: 35px;
	height:32px;
	margin:0px;
}

.general-name-fri {
    display: block;
    float: left;
    height: 32px;
    padding:3px 0 0 0;
    width: 137px;
	
}


.mobile_collapser {
	display: none
}
.mobile_collapser>label {
	display: block;
	height: 22px;
	padding: 12px 25px;
	color: #676565;
	text-shadow: 0 1px 2px rgba(0,0,0,0.25);
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto Condensed", sans-serif;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.2);
	cursor:pointer;
}

.mobile_collapser>label:hover{color:#000;}

#menu1 ul li span {
    display: block;
    font-family: arial;
    font-size: 8px;
    font-weight: normal;
	position:absolute;
	top:32px;
}

.mobile_collapser .mobile_menu_icon {
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	background:url(../images/mobile-nav-icon.png) 50% 50% no-repeat;
	margin-right: 10px
}


#hidden_menu_collapser {
	display: none
}
#hidden_menu_collapser:checked+ul {
	height: auto;
	min-height: 40px;
	max-height: 2999px
}
@media only screen and (max-width:940px) and (min-width:640px) {
/*.menu_container>ul>li>a {
	padding: 12px 13px;
	font-size: 14px;
	width:100%; float:left;
}
.menu_container>ul>li:hover>a {
	
}*/
.menu_container>ul>li>a {margin:0; padding:15px 5px;}
a.search {padding:10px 10px !important;}
}
@media only screen and (max-width:639px) {
.mobile_collapser {
	display: block
}
.menu_container {
	padding: 0;
	height: auto
}
.menu_container>ul {
	position: relative;
	transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	height: 0;
	background: inherit;
	overflow: hidden
}
.menu_container>ul>li:hover {
	margin-left: 0
}
.menu_container>ul>li {
	position: relative;
	float: none;
	background: inherit
}
.menu_container>ul>li>a {
	box-shadow: none;
	border-right: 0
}
.menu_container>ul>li>.menu_dropdown_block {
	visibility: visible;
	position: relative;
	transition: 100ms linear;
	-moz-transition: 100ms linear;
	-o-transition: 100ms linear;
	-webkit-transition: 100ms linear;
	height: 0
}
.menu_container>ul>li:hover>.menu_dropdown_block {
	height: auto;
	min-height: 40px;
	max-height: 3000px
}
.menu_container>ul>li.right {
	float: left!important;
}
.menu_container>ul>li>.menu_dropdown_block [class^="span"], .menu_container>ul>li>.menu_dropdown_block [class*=" span"] {
	float: none;
	width: auto!important
}
.menu_container>ul>li>.menu_dropdown_block .column.bordered {
	border: 0
}

a.search {padding:10px 10px !important;}
}
.menu_container.topfixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 0
}
.menu_container.centered>ul {
	float: none;
	height: inherit;
	margin: 0 auto;
	max-width: 1000px
}
.menu_container.green_glass {
	background: #eeeeee;
	}
/*.menu_container.green_glass>ul>li:hover>a {
	background-color: #70891f
}*/
.menu_container.green_glass>ul>li>.menu_dropdown_block p.links a {
	color: #72aa00
}
.menu_container.green_glass>ul>li>.menu_dropdown_block p.links a:hover {
	color: #70891f;
	border-bottom: 1px dotted #70891f
}
/*.menu_container.green_glass ul.menu_submenu_block li a:hover {
	background: #70891f
}*/
/*****************menu css end here**************************/




/****************** Registeration css start here  ***********************/

.regi-left{width:733px; height:auto; margin:0px; padding:0px; float:left;}
.reg-head-main{width:720px; height:auto; margin:0px; padding:5px; background-color:#eee; border:1px solid #dedede; border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px; float:left;}
.reg-head{width:697px; height:auto; font-family:Conv_Fette Engschrift; margin:0px; padding:10px; background-color:#fff; border:1px solid #dedede; border-radius:5px;
font-size:25px;
color:#014166;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px; float:left; float:left;}
	
	
	
.reg-form-label input,select {border: 1px solid #E7E7E7; height: 23px;  margin-left:0px;  padding: 2px;  width: 180px;}
.reg-form-label select {border: 1px solid #E7E7E7; height: 23px;  margin-left:0px;  padding: 2px;  width: 186px;}

.reg-form-label {float: left; width: 729px; border-bottom:1px solid #e7e7e7;}
.reg-form-label h1 {color:#014166;  display: block; float: left; font-family: conv_fette engschrift;  font-size: 25px;  line-height: normal;margin: 17px 0 16px 50px;    width: 676px;}


.reg-form-label .bas-info {display: block; float: left; padding-bottom: 10px; padding-left: 133px;  width: 595px;}
.reg-form-label label {color: #141414; display: block; float: left; font-size: 14px; height: 30px; line-height: 30px; width: 190px;}
.feilds {width: 187px !important;}

.text-area {height:auto !important; width: 509px !important;}

.browse{background:url(../images/browse-icon.png) right center no-repeat;}
.text-fe-name {width:190px !important;}
}


.text-area textarea {height: 100px; margin-left: 200px;  width: 300px;}
.skip_but {
    background-color: #014166;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    font-size: 12px;
    height: auto !important;
    padding: 3px 15px !important;
    width: auto !important;
	cursor:pointer;
	margin-left:0 !important;
}


.buttons { clear: both; margin-top:10px; padding-bottom: 10px; padding-left: 327px; width: 400px;}

.cam {clear: both; margin:8px 0 0 0;  width: 200px; font-size:12px;}

figure {float: left;  margin:0 66px 25px 158px;  width: 100px;}
.reg-form-label .upload-img {margin-top:40px; width: 308px; float:left;}
.cam >  a img { padding-right: 6px;}

.reg-form-label textarea {
    height:100px;
    margin-left:328px;
    width: 296px;
}

/****************** Registeration css ends here  ***********************/



/****************** PROFILE EVENT CSS START   ***********************/

.pro-event{width:506px; height:auto; margin:0px; padding:0px; float:left;}
.event{width:506px; height:auto; margin:0px; padding:0px; float:left;}
.event h2{font-size:20px; color:#014166; font:20px/100% Conv_Fette Engschrift; clear:both;}



.event-list{width:506px; height:30px; margin-bottom:20px; padding:0px; background-color:#f7f7f7; border:1px solid #ebebeb; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; float:left;}
.event-list ul{width:506px; height:30px; list-style:none; margin:0px; padding:0px; float:left; }
.event-list ul li{float:left; line-height:30px; list-style:none; margin:0px; padding:0px;}
.event-list ul li a{font-family:Arial, Helvetica, sans-serif; text-decoration:none; padding:0 18px; font-size:12px; color:#676565;}
.event-list ul li a:hover{color:#333;}
.event-list li:nth-child(3) {width: 164px;}
.event-list img {padding-right:5px;}

.last { float: left !important;
    margin-right: 0;}


.events{width:506px; height:auto; margin-bottom:18px; padding:0px; float:left;}
.events-name{width:50px; height:auto; margin:0px; padding:0px; float:left;}
.events-img {float: left; height: auto; margin-left: 10px;  padding: 0;  width: 446px;}


.event-list > p {color: #676565; padding-top: 8px;  text-align: center;}
.event-list > p a {color: #676565;}



/****************** PROFILE EVENT CSS ENDS   ***********************/


.date.date-show {margin: 20px 0 0 0px !important; float:right; width: 212px !important;}


/****************** GALLERY CSS START HERE   ***********************/


.pro-gall{width:484px; height:auto; margin-top:20px; padding:10px; float:left; background-color:#f7f7f7; border:1px solid #dedede; 	border-radius:8px;
	-moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px;}

.pro-gall h2 {clear: both;  color: #014166;  font: 20px/100% Conv_Fette Engschrift; margin:10px 0;}
.pro-gall h2 img {padding-right: 8px;}

.img-gel {float: left; margin: 0; padding: 0; width: 485px;}
.img-gel ul {float: left; list-style: none; margin: 0; padding: 0;  width: 484px;}
.img-gel ul li {float: left; padding: 9px;}
.img-gel ul li img {border:1px solid #e0e0e0;}



/****************** GALLERY CSS START HERE   ***********************/



/************************************   CONTACT CSS START HERE *************************************/
.contact-left-main{width:720px; height:auto; margin:0px; padding:10px; background-color:#f7f7f7; border:1px solid #d8d8d8; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px; float:left;}


.contact-left{width:711px; height:auto; margin:0px; padding:10px; background-color:#f7f7f7; border:1px solid #d8d8d8; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px; float:left;}

.contact-head{width:708px; height:48px; margin:0px; padding:0px; background-color:#fff; border:1px solid #d8d8d8; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; float:left;}

.contact-head h2{font-size:25px; font-family:Conv_Fette Engschrift; margin:0px; padding:6px 0 0 40px; background:url(../images/cont-icon.png) 12px 15px no-repeat; float:left;}

.contact-head > span {float: right;}
.contact-head span input { border: 1px solid #D8D8D8; border-radius: 3px 3px 3px 3px; color: #757575;  font-size: 12px;  height: 25px;  margin:10px 10px 0 0;  padding: 0 5px;   width: 228px;}
.contact-list{width:711px; height:auto; margin:20px 0 0 0; padding:0px; float:left;}




.contact-box{background-color: #FFFFFF;
    border: 1px solid #014166;
    border-radius: 3px;
    box-shadow: 0 0 7px #999999;
    float: left;
    height: auto;
    margin: 3px;
    padding: 5px;
    width: 47%;} 
.contact-box-result{float: left;height: 46px; line-height: 46px;list-style: none outside none; margin: 0; padding: 0; text-align: center; width: 120px;}

.contact-box_img{float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100px;}
.contact-box_img > img {border: 1px solid #014166;
    border-radius: 4px;
    margin: 4px;
    width: 85%;}
.contact-box_name{float: left;
    height: auto;
    margin-left: 7px;
    padding: 0;
    width: 60%;}
.contact-box_name h3{font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#333;}
.contact-box_name span {display: block; margin-top: 22px;}


.contact-box_date{float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 25%;}
.contact-box_date > p { margin-top: 18px;
    text-align: right;}
.fri-but {background: none repeat scroll 0 0 #014166;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    margin: 21px 0 0 22px !important;
    text-align: center !important;
    width: 80px;
}

.contact-box:nth-child(2n) {margin-right: 0;}
.fri-but > img { display: inline-block; padding-right: 5px;}
.contact-box_name p:nth-child(2) {margin-bottom: 18px;}


.news-div-button{margin:0 0 25px 0; padding:0; float:left; width:298px; border:1px solid #dedede;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background:#f7f7f7;}

.news-div-button ul{width:300px; height:auto; margin:0px; padding:0px; border-radius:4px; list-style:none; float:left;}
.news-div-button ul li{width:120px; height:46px; line-height:46px; text-align:center; margin:0px; padding:0px; list-style:none; background:url(../images/sep.jpg) 0 16px no-repeat; float:left;}
.news-div-button ul li a{width:40px; height:46px; padding:0px; text-align:center; font-family:Conv_Fette Engschrift; font-size:18px; color:#676565; text-decoration:none; text-align:center;}
.news-div-button ul li a:hover{width:28px; height:34px; background-color:#fff; padding:5px; border-radius:4px; border:1px solid #d8d8d8;}
.news-div-button ul li a.actnew{ width:28px; height:34px; background-color:#fff; padding:5px; border-radius:4px; border:1px solid #d8d8d8;}
.news-div-button ul li:first-child{background:none;}



/************************************   CONTACT CSS START ENDS HERE *************************************/


/************************************   INBOX CSS START HERE *************************************/

.inbox-container{float:right; width:504px;}
.inbox-left{width:733px; height:auto; margin:0px; padding:0px; float:left;}
.inbox-text-feild {height:22px; width:178px !important; color:#CCC; padding:3px; background: #fff url(../images/ser-icon.png) 160px 7px no-repeat;}
.mar-top{margin-top:20px !important;}


.inbox-head {background-color: #F7F7F7; border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px; float: left; height: auto;   margin: 0;
    padding:5px; width: 720px;}

.inbox-head-inner {background-color: #FFFFFF; border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px;  float: left;
    height:19px; margin:0px;  padding:5px 0 12px 9px; width: 708px;}

.inbox-head-inner  ul { float: left;  list-style: none; margin: 0; padding: 0;}
.inbox-head-inner li {float: left; list-style: none; margin:0px; padding:0px; font: 25px/100% Conv_Fette Engschrift; color:#014166;}


.inbox-head-inner > p {border: 1px solid #D8D8D8; background:url(../images/inbox-but-bg.jpg) left top repeat-x; border-radius: 3px 3px 3px 3px; float: right;  height: 20px;  line-height: 20px;cursor:pointer; margin-right: 10px;
    margin-top: 0;   padding: 2px 7px;   text-align: center;    width: 100px;}
	.inbox-head-inner > p a{font-size:12px; color:#010101; text-decoration:none;}



.inbox{width: 544px; height:24px; line-height:24px; display:inline-block; font:25px/100% Conv_Fette Engschrift; color:#014166;}
.inbox > p {padding-right:}
.inbox span { width: 250px; padding: 0 23px; margin-left:150px; border-left:1px solid #999; display:inline-block;}
.ali-ri {float: right !important;}

.inbox-in {float: right !important;  margin-top: 20px;   width: 504px;}
.inbox-img{width:50px; float:left; margin:0px; padding:0px;}
.inbox-text{width:362px; float:left; margin:0px; padding:0px;}
.inbox-date{width:90px; float:left; margin:0px; padding:0px; color:#b1abab; font-size:12px;}

.inbox-text > h1 {color: #014166; font-size: 14px; font-weight: normal; margin: 0 0 10px;}
.inbox-text > p { margin: 10px 0;}

.ddate {float: right; width:504px; margin:15px 0; background:url(../images/line-mid.jpg) left 6px repeat-x;}
.ddate p {background: none repeat scroll 0 0 #FFFFFF;}
.msg-cell-box-add p {background:#014166; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;
    color: #FFFFFF; cursor: pointer; font-size: 12px;  padding: 4px 0;  text-align: center;   width: 70px;}


/************************************   INBOX CSS ENDS HERE *************************************/

/****************** genaral CSS START HERE   ***********************/
.genral-info{width:205px; margin:0; float:left; padding:0px ; border:1px solid #e6e6e6;}
.genral-info h4{margin:0; padding:8px 8px 8px 20px; background:#eeeeee; font-weight:normal; font-size:12px;}
.genral-info ul{margin:0; padding:0;}
.genral-info ul li{display:block; list-style:none; border-bottom:1px solid #e6e6e6; margin:0; padding:0;}
.genral-info ul li a{margin:0;padding:12px 8px 12px 20px; display:block; background:#fff; color:#676565;}
.genral-info ul li a:hover{background:#eee; text-decoration:none; }
.genral-info ul li a.act{background:#eee; text-decoration:none; }

.genral-midmain{margin:0; padding:0; float:left; width:506px;}
.genral-mid{width:506px; height:auto; margin:0px 0 10px 0; padding:0px; float:left;border:1px solid #e7e6e6; border-radius:10px; background:#F7F7F7;}
.genral-cell-box{ width:494px; padding:0; margin:5px; border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background:#fff; float:left;}
.genral-cell-box h2{color: #014166;font: bold 20px/100% Conv_Fette Engschrift;margin: 0;padding:2px 5px 5px 10px;}
.genral-cell-box2{ padding:0; margin:8px; border:1px solid #dedede; background:#fff; float:left;}

.contact-div {width: 100%;margin:10px 0 0 0;padding: 0;float: left;}
.contact-iner {	width: 100%;float: left;margin: 0;padding: 0;}
.contact-iner p {float: left;width: 95%;margin: 0;padding:8px 0 0.5em 2em;font-size: 1em;	font-weight: normal;}
.contact-iner p label {	width: 100px;float: left;line-height: 20px;	margin: 0;}

.contact-iner p span {color: #0b1174; display:block;}
.search-box ul {background:#FFFFFF; border: 1px solid #DDDDDD; list-style:none; margin: 0; padding:6px 6px 0 6px; position: absolute; width: 225px;
}
.search-list > li {padding: 5px;}
.search-list > li:hover {cursor:pointer; background-color:#dfdfdf}

.inpt {width: 62%;padding: 0 1% 0 1%;float: left;height: 25px;border: 1px solid #dedede;}
.inpt1{width: 27%;padding: 0 1% 0 1%;float: left;height: 25px;border: 1px solid #dedede; margin-right:10px; font-size:12px; color:#686666;}
.inpt2{width: 30%;padding: 0 1% 0 1%;float: left;height: 25px;border: 1px solid #dedede; font-size:12px; color:#686666;}
.save-but {
    background: none repeat scroll 0 0 #014166;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    margin-bottom: 15px;
    padding: 3px 18px;
}



/****************** genaral CSS START HERE   ***********************/





/****************** SETTING - PRIVECY CSS START HERE   ***********************/

.seeting-pri {height: auto; margin-left: 50px !important; padding: 0; width: 300px !important;}
.inpt-set-pri {border: 1px solid #DEDEDE; float: left; height: 25px;  margin: 0 10px 0 149px;  padding: 0 1%;   width: 190px;}


.pri-list {list-style:none; margin-left: 173px; width: 300px;}
.pri-list > li {display:block; float:left; height: 20px; list-style:none;}
.pri-block{margin-bottom:0px !important;}
.pri-list a {color: #686666; padding-right:10px; text-decoration:none;}
.pri-list a:hover{color:#114d70;}

.pri-list span {font-size: 12px; font-weight: bold; text-align: right;}

.rec-pri {display:block; margin-right:43px !important;}
.align-pri {margin-left: 47px;}

/****************** SETTING - PRIVECY CSS ENDS HERE   ***********************/


/****************** SETTING - PICTURE CSS START HERE   ***********************/



.pic-text {border: 1px solid #DEDEDE; height: 53px; resize: none; width: 280px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999;}
.pic {float: left; width:135px;}
.pic-form {float:left; width:353px;}
.web-cam {margin: 0 0 30px 33px !important; padding-left: 0 !important;  text-align: center;  width: 14px !important;}

.web-cam a{color:#000 !important; text-decoration:none !important;}

.dis{display:inline !important;}
.contact-iner select {padding: 0 !important;}

#yourBtn {
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #111111;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    margin: 122px 0 0 50px;
    padding: 5px;
    position: relative;
    text-decoration: none;
    width: 100px;
}
/****************** SETTING - PICTURE CSS START HERE   ***********************/


/****************** news feed CSS START HERE   ***********************/
.newsfeed-left {float: left; width:733px;}
.news-feeddivmain{width:683px; height:auto; margin:0 0 0 8px; padding:0px; float:left;}
.news-div-bot{margin:0; padding:0; float:left; width:100%;}


.news-div-left{margin:0 0 25px 0; padding:0; float:left; width:72px; border:1px solid #dedede;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background:#f7f7f7;}


.news-div-left ul{width:145px; height:auto; margin:0px; padding:0px; border-radius:4px; list-style:none; float:left;}
.news-div-left ul li{width:70.5px; height:46px; line-height:46px; text-align:center; margin:0px; padding:0px; list-style:none; background:url(../images/sep.jpg) 0 16px no-repeat; float:left;}
.news-div-left ul li a{width:40px; height:46px; padding:0px; text-align:center; font-family:Conv_Fette Engschrift; font-size:18px; color:#676565; text-decoration:none; text-align:center;}
.news-div-left ul li a:hover{width:28px; height:34px; background-color:#fff; padding:5px; border-radius:4px; border:1px solid #d8d8d8;}
.news-div-left ul li a.actnew{ }
.news-div-left ul li:first-child{background:none;}






.news-div-right{margin:0 0 25px 0; padding:0; float:right; width:348px; border:1px solid #dedede;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background:#f7f7f7;}

.news-div-right ul{width:480px; height:auto; margin:0px; padding:0px; border-radius:4px; list-style:none; float:left;}
.news-div-right ul li{width:120px; height:46px; line-height:46px; text-align:center; margin:0px; padding:0px; list-style:none; background:url(../images/sep.jpg) 0 16px no-repeat; float:left;}
.news-div-right ul li a{width:40px; height:46px; padding:0px; text-align:center; font-family:Conv_Fette Engschrift; font-size:18px; color:#676565; text-decoration:none; text-align:center;}
.news-div-right ul li a:hover{width:28px; height:34px; background-color:#fff; padding:5px; border-radius:4px; border:1px solid #d8d8d8;}
.news-div-right ul li a.active{width:28px; height:34px; background-color:#fff; padding:5px; border-radius:4px; border:1px solid #d8d8d8;}
.news-div-right ul li a.actnew{ }
.news-div-right ul li:first-child{background:none;}


/*****************menu_tool css start here**************************/
.menu_tool_container {
	margin-bottom:10px;
	height: 45px;
	clear: both;
	float: left;
	border-radius: 2px;
	padding: 0;
	padding: 0;
	margin-top:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.menu_tool_container.full_width {
	width: 100%
}
.menu_tool_container>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	width: 100%;
	height: inherit
}
.menu_tool_container>ul>li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	width:91px;
}
.menu_tool_container>ul>li>a {
	padding:15px 0 15px 18px;
	display: block;
	color: #676565;
	text-decoration: none;
	box-shadow: inset -1px 0 0 rgba(0,0,0,0.2);
	border-right: 1px solid rgba(255,255,255,0.25);
	transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-webkit-transition: background-color 200ms linear;
	font-size:15px;
	font-family:"Conv_Fette Engschrift",sans-serif;
}

#menu_tool1 li:last-child a {
    margin: 0;
    padding:15px 0 15px 18px;
	border-right:none;
	box-shadow:none;
}

.menu_tool_container>ul>li>a .img-arrow {margin:0; padding-left:0;}
.chekbox11{ margin:1px 0 0 2px; padding:0; position: absolute;}
.chekboxnewsfeed{ margin:15px 0 0 2px; padding:0; position: absolute;}
.chekbox123 {margin:12px 8px 8px 8px; padding:0; position: absolute;}

.menu_tool_container>ul>li.right {
	float: right
}
.menu_tool_container>ul>li.last>a {
	box-shadow: none;
	border-right: 0
}
.menu_tool_container>ul>li:hover {
	background:none;
}
.menu_tool_container>ul>li:hover>a {
background:none;
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block {
	visibility: hidden;
	position: absolute;
	border: 1px solid #ddd;
	border-top: 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	background: #f7f7f7;
	top: 100%;
	color: #575757;
	opacity: 0;
	transition: opacity 100ms linear;
	-moz-transition: opacity 100ms linear;
	-o-transition: opacity 100ms linear;
	-webkit-transition: opacity 100ms linear;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	z-index: 30;
	width:120px;
}
.menu_tool_container>ul>li.right>.menu_tool_dropdown_block {
	right: 0
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block p {
	padding: 5px 5px;
	margin-bottom: 10px;
	line-height: 1.7em
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block *.small {
	font-size: 11px;
	color: #666
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block p.links a {
	text-decoration: none
}
.menu_tool_container>ul>li:hover>.menu_tool_dropdown_block {
	visibility: visible;
	opacity: 1;
	margin-left: -1px
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block.full_width {
	left: 0;
	width: 100%;
	margin-left: 0
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block.half_width {
	width: 50%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .container {
	padding: 15px 20px 15px 20px
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column {
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.bordered {
	border-right: 1px solid #ddd
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span1 {
	width: 100%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span2 {
	width: 50%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span3 {
	width: 33%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span4 {
	width: 25%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span5 {
	width: 20%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span6 {
	width: 16%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span10per {
	width: 10%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span20per {
	width: 20%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span30per {
	width: 30%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span40per {
	width: 40%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span50per {
	width: 50%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span60per {
	width: 60%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span70per {
	width: 70%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span80per {
	width: 80%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.span90per {
	width: 90%
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column .content {
	padding: 10px 20px
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block h1, .menu_tool_container>ul>li>.menu_tool_dropdown_block h2 {
	font-family: "PT Sans Narrow", sans-serif
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #555;
	border-bottom: 2px solid #888;
	padding: 5px 0 5px 5px
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block h2 {
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0 5px 5px;
	margin: 0 0 10px 0;
	color: #666;
	border-bottom: 1px dotted #ccc
}
img.auto_width {
	width: auto;
	width: 100%
}
ul.menu_tool_submenu_tool {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px
}
ul.menu_tool_submenu_tool li {
	display: block
}
ul.menu_tool_submenu_tool li a {
	display: block;
	padding: 4px 0;
	text-decoration: none;
	color: #666;
	margin: 2px 0;
	font-family: Tahoma, Verdana, sans-serif
}
ul.menu_tool_submenu_tool li a:hover {
	color: #111
}
ul.menu_tool_submenu_tool li a>span {
	font-family: Calibri;
	font-size: 10px
}
ul.menu_tool_submenu_tool_block {
	list-style: none;
	padding: 0;
	margin: 0;
	margin: 0 0 0 0
}
ul.menu_tool_submenu_tool_block li {
	display: block;
	margin:0; padding:0;
}
ul.menu_tool_submenu_tool_block li a {
	display: block;
	padding:12px 26px;
	text-decoration: none;
	color: #666;
	margin: 0;
	font-family: "Roboto Condensed", sans-serif;
}
ul.menu_tool_submenu_tool_block li a:hover {
	color: #fff
}
.mobile_collapser {
	display: none
}
.mobile_collapser>label {
	display: block;
	height: 22px;
	padding: 12px 25px;
	color: #000;
	text-shadow: 0 1px 2px rgba(0,0,0,0.25);
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto Condensed", sans-serif;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.2)
}
.mobile_collapser .mobile_menu_tool_icon {
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	background:url(../images/mobile-nav-icon.png)  50% 50% no-repeat;
	margin-right: 10px
}
#hidden_menu_tool_collapser {
	display: none
}
#hidden_menu_tool_collapser:checked+ul {
	height: auto;
	min-height: 40px;
	max-height: 2999px
}
@media only screen and (max-width:940px) and (min-width:640px) {
.menu_tool_container>ul>li>a {
	padding: 12px 15px;
	font-size: 14px
}
.menu_tool_container>ul>li:hover>a {
	padding-left: 16px
}
}
@media only screen and (max-width:639px) {
.mobile_collapser {
	display: block
}
.menu_tool_container {
	padding: 0;
	height: auto
}
.menu_tool_container>ul {
	position: relative;
	transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	height: 0;
	background: inherit;
	overflow: hidden
}
.menu_tool_container>ul>li:hover {
	margin-left: 0
}
.menu_tool_container>ul>li {
	position: relative;
	float: none;
	background: inherit
}
.menu_tool_container>ul>li>a {
	box-shadow: none;
	border-right: 0
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block {
	visibility: visible;
	position: relative;
	transition: 100ms linear;
	-moz-transition: 100ms linear;
	-o-transition: 100ms linear;
	-webkit-transition: 100ms linear;
	height: 0
}
.menu_tool_container>ul>li:hover>.menu_tool_dropdown_block {
	height: auto;
	min-height: 40px;
	max-height: 3000px
}
.menu_tool_container>ul>li.right {
	float: none
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block [class^="span"], .menu_tool_container>ul>li>.menu_tool_dropdown_block [class*=" span"] {
	float: none;
	width: auto!important
}
.menu_tool_container>ul>li>.menu_tool_dropdown_block .column.bordered {
	border: 0
}
}
.menu_tool_container.topfixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 0
}
.menu_tool_container.centered>ul {
	float: none;
	height: inherit;
	margin: 0 auto;
	max-width: 1000px
}
.menu_tool_container.green_glass {
background:#f7f7f7; border:1px solid #dedede;
border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;
}
.menu_tool_container.green_glass>ul>li:hover>a {
	background-color: none; color:#000;
}

.menu_tool_container.green_glass>ul>li>.menu_tool_dropdown_block p.links a {
	color: #72aa00
}
.menu_tool_container.green_glass>ul>li>.menu_tool_dropdown_block p.links a:hover {
	color: #70891f;
	border-bottom: 1px dotted #70891f
}
.menu_tool_container.green_glass ul.menu_tool_submenu_tool_block li a:hover {
	background: #e7e7e7;
	color:#000;
}


.half_width{ width:15%; float:left;}
/*****************menu_tool css end here**************************/
/****************** news feed CSS end HERE   ***********************/



/************************************* RECOMMEND CSS START HERE ****************************/
.mesg{margin:0 ;padding:0; float:left;  width:100%;}
.mesg p {margin: 0;padding: 0 10px 10px 55px;line-height:18px;font-size:12px;text-align:justify;}

.rec-left{width:733px; height:auto; margin:0px; padding:0px; float:left;}
.rec-head {background-color: #F7F7F7; border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px; float: left; height: auto; margin:0; padding:5px; width: 720px;}


.recommend {color: #014166; display: inline-block;  font: 25px/100% Conv_Fette Engschrift; height: 24px; width:700px;}
.recommend > p {float: left; width: 348px;}
.recommend-inner {background-color: #FFFFFF;  border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px; float: left;
    height: 19px;    margin: 0;   padding: 5px 0 12px 9px;    width: 708px;}

.rec-right {color: #676565; font-size:0.8em;  text-align: right;}
.rec-right a {color: #676565;  display: inline-block;  font-size: 0.8em;  padding: 0 10px;  text-align: center; text-decoration: none;   width: 128px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;}

.rec-right a:hover{width:126px; border:1px solid #dedede;}
.rec-right a.act{width:126px; border:1px solid #dedede;}


.reco-post {float: left; margin-top: 15px;  width: 730px;}


.rec-main {width: 336px; height: auto; margin:0 40px 0 0px; padding-bottom: 10px; float: left; border-bottom: 1px solid #D8D8D8;}
.rec-img {width: 336px; height: auto; margin-top: 25px;padding: 0;float: left;}
.rec-img-left {  width: 44px; height: auto; padding: 0; margin: 0; float: left;}
.rec-img-right > span {color: #B1ABAB; padding:5px 0; display: block;}
.rec-img-right {float: left; height: auto; margin: 0; padding-left: 6px;}

.rec-post{width:278px; height:auto; margin-left:43px; padding:5px; float:left;
border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background-color:#F7F7F7; float:left;}

.rec-post-inner{width:266px; height:auto; margin:0px; padding:5px; float:left;
border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background-color:#fff; float:left;}

.rec-time-note{width:290px; height:auto; margin-left:43px; padding:0px; position:relative; float:left;}
.rec-time-note p{ font-size:11px; width:278px; height:auto; color:#b1abab; margin:10px;}
.rec-time-note p a{color:#b1abab; font-size:11px; text-decoration:none; padding-right:10px;}
.rec-time-note p a:hover{color:#CCC;}

.rec-time-note img {padding-right:5px; font-size:11px;}
.rec-time-note span {float: right;}

.rec-main:nth-child(2n) {margin-right: 0;}


.more-rec {background-color: #F7F7F7;
    border: 1px solid #DEDEDE;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: auto;
    margin-top: 10px;
	margin-bottom:10px;
    padding: 5px;
    width: 98%;
}
	
.more-rec  p{text-align:center;}
.more-rec  p a{text-decoration:none; color:#676565;}

/************************************* RECOMMEND CSS ENDS HERE ****************************/


/************************************* INBOX MESSAGE CSS START HERE ***************************/

.msg-to{width:496px; float:right!important;  margin-top: 20px; background-color: #F7F7F7; border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px; float: left; height:auto; padding:5px;}

.msg-to-inner {width:485px; background-color: #FFFFFF; border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px;  
float: left; height:auto; margin:0px;  padding:5px 0 5px 9px;}
	
.msg-msg {border: medium none; color: #B1ABAB; width: auto; float:left;}

.space-msg{width:509px; height:200px; margin:0px; padding:0px; float:right;}

.msg-but {
    background: url("../images/inbox-but-bg.jpg") repeat-x scroll left top transparent;
    border: 1px solid #D8D8D8;
    border-radius: 3px 3px 3px 3px;
    color: #055481;
    float: right !important;
    font-family: arial;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-right: 0;
    margin-top: 0;
    padding: 2px 0px;
    text-align: center;
    width: 50px !important;
}




.tip:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 47px;
    position: absolute;
    top: -7px;
}
.tip:after {
    border-bottom: 6px solid #EEEEEE;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left:48px;
    position: absolute;
    top: -6px;
}
.tip {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    right:-4px;
    padding: 3px;
    position: absolute;
    text-align: center;
    width:67px;
}

.notes-post {float: left;  height: auto;  margin-top: 15px;  padding: 0;  width: 730px;}

/***********************ahmed css here 27-02-2014**********************************/
.notes-main-div {float: left;  height: auto;  margin-top: 15px;  padding: 0;  width: 730px;}
.note-main-left{margin:0; padding:0; width:365px; float:left;}
.note-main-right{margin:0; padding:0; width:365px; float:left;}

.notes-main ul{margin:0; padding:0; width: 730px; float:left;}
.notes-main ul li{display: inline; float: left;list-style-type: none; margin: 0 11px 25px 0; padding: 0; width: 354px;}
/***********************ahmed css here 27-02-2014**********************************/

.notes-main:nth-child(2n){margin-right:0px;}
.notes-main {width: 354px; height: auto; margin:0 21px 25px 0px; padding-bottom: 10px; float: left; border-bottom: 1px solid #D8D8D8;}
.notee-post{width:341px; height:auto; margin-left:0px; padding:5px; float:left;
border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background-color:#F7F7F7; float:left;}

.note-post-inner{width:327px; height:auto; margin:0px; padding:5px; float:left;
border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background-color:#fff; float:left;}

.note-time-note{width:352px; height:auto; margin-left:0px; padding:0px; float:left;}
.note-time-note p{ font-size:12px; width:352px; height:auto; color:#b1abab; margin:10px 0;}
.note-time-note p a{color:#b1abab; font-size:12px; text-decoration:none; padding-right:10px;}
.note-time-note p a:hover{color:#CCC;}

.note-time-note span {float: right;}
.n-img{float: left; margin: 5px;}
.name-tit {float: left; margin:17px 5px 0; width: 200px;}
.edit-ico {float: left; margin:5px 0px 5px 12px; width: 50px; text-align:right;}
.name-tit > span {display: block; margin-top: 5px;}


.para-img {clear: both; display: block; float: left; height: auto; margin: 5px 0 4px 5px; width: 317px;}
.para-img img { margin-right: 10px;}
.para-img > p {float: left; font-size: 12px; line-height: 18px; text-align: justify;}

.token {
    background: none repeat scroll 0 0 #E2E6F0;
    border: 1px solid #9DACCC;
    border-radius: 2px 2px 2px 2px;
    color: #1C2A47;
    cursor: default;
    display: block;
    float: left;
    font-size: 13px;
    height: 14px;
    line-height: 0;
	margin:0 4px 4px 0;
     padding: 3px 4px 3px 6px;
 /*   position:absolute;*/
    white-space: nowrap;
}

.tokenarea {
   /* overflow: hidden;*/
   padding-left:26px;
}

.token-close-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
}
label.token-close-btn {
    overflow: hidden;
}
.token-close-btn input {
    cursor: pointer;
    opacity: 0;
    outline: medium none;
    padding: 18px;
}
.token-close-btn {
    background: url("../images/cross-2.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 17px;
}
.token-close-btn-small {
    background: url("../images/cross-2.png") repeat scroll 0 0 transparent;
    height: 11px;
    margin-top: 2px;
    width: 11px;
}

.token-close-btn-small:hover, .token-close-btn-small:focus {
   background-position: left -12px;
}
.token-close-btn-small:active {
    background-position: left -12px;
}
.search-area {
    /*  overflow: hidden; */
}
.lable-to {
	color: #333333;
	font-size: 13px;
	height: 22px;
	padding: 0;
	white-space: nowrap;
	float:left;
	margin:0 5px 0 0;
	line-height: 18px;
}

.search-result {float: left; margin-left: 0; width: 500px; background:#fff; box-shadow:0 3px 5px #DDDDDD;}
.search-result ul {float: left; list-style: none; margin: 0; padding: 0;}
.search-result ul li {float: left; color:#676565; list-style: none; margin:0 0 5px 0;  padding:0px; width: 500px; border-bottom: 1px solid #DEDEDE;}
.search-result ul li:last-child{margin:0 0 0 0;}
.inbox-img-box {float: left; height: 26px; width: 26px;}
.inbox-name-fri {float: left; height: 25px; width: auto; margin:0px; padding:4px 0 5px 10px;}
.search-result ul li:hover{background-color:#014166; color:#fff; text-decoration:none; cursor:pointer;}
.inbox-img-box img {padding: 3px 5px 0 3px;}
.content-area {float: left; margin: 0; padding: 0;}
.msg-inbox-text{width:471px;resize: none; height:50px; margin:5px 0; padding:5px; border:1px solid #dedede; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; background-color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999; float:left;}

.file-grid-container {float:left; margin: 0;padding: 0; width:100%; }
.file-grid {float:left;margin: 0; padding: 0; width: 100%;}
.file-grid:first-child{border-top:1px solid #ccc;}
.file-grid-item{float:left; margin: 0; padding: 5px 0; width:100%; margin:0 0 5px 0;border-bottom:1px solid #ccc;}

.file-icon{margin: 0; padding: 0; width: 100%; background:red; height:20px;background: url("../images/txt.ico") no-repeat left top; float:left;}
.file-name{ width:50%; margin-left:20px; float:left; line-height:20px;}
.remove-file{ float:right; background: url("../images/cross-2.png") repeat scroll 0 0 transparent; height: 11px; margin-top: 2px; width: 11px;}
.image-grid-container{ width:100%; margin:5px 0 0 0; float:left;}
.image-grid{ width:100%;}
.image-grid-item{ width:100px; height:100px; float:left; margin: 0 5px 5px 0; border:1px solid #ccc;}
.grid-item-img-container{float:left; width:100px; height:100px;}
.remove-img{ background: url("../images/cross-2.png") no-repeat 0 0; height: 11px; margin-top: 2px; width: 11px; float:right; position:relative; top:-100px; }

.inbox-message h1 {color: #014166;  font-size: 14px; font-weight: normal;  margin: 0;  padding: 0;}
.inbox-message p {color: #666666; font-size: 12px; padding: 6px 0;}

.inbox-message-images {float: left; width: 100%; margin-top:5px;}
.inbox-message-images ul {float: left; list-style: none; margin: 0; padding: 0; margin-bottom:10px;}
.inbox-message-images ul li {float: left; list-style: none; padding: 0 5px 0 0px;}

.inbox-message-files {float: left; width: 100%;}
.inbox-message-files ul {float: left; list-style:none; margin: 0; padding: 0; width: 100%;}
.inbox-message-files li {background: url("../images/txt.ico") no-repeat scroll left 5px; height: 25px; line-height: 16px; list-style: none outside none;
    margin: 2px 0 0; padding: 0 0 0 20px;  width: 100%;}
.inbox-message-files ul li a span {color: #666666; float: left; font-weight: bold; padding: 5px 0; text-decoration: none;}

/************************************* INBOX MESSAGE CSS ENDS HERE ****************************/

/****************** poll gallery CSS start HERE   ***********************/


.poll-gl {font-size: 16px; padding-right: 10px;}
.poll-gallery-content:last-child {border-bottom: medium none;}

.poll-gallery-contenor{width:723px; height:auto; margin:0px; padding:0 10px 10px 10px; float:left;}
.poll-gallery-content{width:710px; height:auto; margin:0px; padding-bottom:10px; float:left; margin-top:25px;  border-bottom: 1px solid #DEDEDE;}
.poll-gallery-content-left{width:350px; height:230px; margin:0px; padding:0px; float:left;}
.poll-gallery-content-left > strong { margin: 0 17px 4px 11px; text-align: left;}
.poll-gallery-content-left > span { float: right; padding: 10px;}
.poll-gallery-content-left > p { margin: 0 0 10px; text-align: left; font-size:12px;}
.poll-gallery-content-left ul{ width:auto; height:auto; padding:0px; margin:0px;}
.poll-gallery-content-left ul li{ display:inline; padding:10px; margin:0px;  border-bottom: 1px solid #DEDEDE; float:left; width:290px;}
.poll-head-inner li span {text-align: right; float:right;}
.poll-gallery-content-right{width:350px; height:auto; margin:0px; padding:0px; float:right;}
.poll-gallery-content-right > span {float: right; padding: 10px;}
.poll-gallery-content-right > strong { margin: 0 17px 4px 11px; text-align: left;}
.poll-gallery-content-right > p { margin: 0 0 10px; text-align: left; font-size:12px;}
.poll-head {background-color: #F7F7F7; border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px; float: left; height: auto;   margin: 0; padding:5px;    
width: 330px;}
.poll-head-inner {background-color: #FFFFFF; border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px;  float: left;  margin:0px; 
padding:5px 0 12px 9px; width: 320px;}
.poll-head-inner-2 {background-color: #FFFFFF; border: 1px solid #DEDEDE; border-radius: 5px 5px 5px 5px;  float: left;  margin:0px; 
padding:0px;  width: 327px;}
.poll-box{width:327px; height:auto; float:left;}
.poll-box-left{ border-right: 1px solid #DEDEDE; float: left; height: 122px;  width: 163px; text-align:center; line-height:122px; font-size:30px;}
.poll-box-right{  float: left; height: 122px; width: 163px; text-align:center; line-height:122px; font-size:30px;}
.poll-box-inner{width:327px; height:auto; float:left;}
.poll-box-inner-left{ border-right: 1px solid #DEDEDE; border-top:1px solid #dedede; float: left; height: 30px; line-height:30px; text-align:center; width: 163px;}
.poll-box-inner-right{  float: left; height: 30px; width: 163px; text-align:center; line-height:30px; border-top:1px solid #dedede;}
.fl-l{ float:left;}
.fl-r{ float:right;}
.fancybox-inner{height: 315px !important;}
/****************** poll gallery CSS end HERE   ***********************/
/******************************************** CREATE NOTES START HERE ************************************/
.add-not-cont{float: left;  height: auto;  margin-top: 15px;  padding:10px;  width: 730px;}
.notes-post > label { float: left; height: auto; width: 100%;}
.input-add-nots{ float: left; height: 14px; width: 680px; border:1px solid #cbc5c5; padding:10px;}
.textarea-add-nots { float: left; height: 310px; width: 700px; margin-top:20px; border:1px solid #cbc5c5;}
.add-notes-up{float: left;  height: auto;  margin-top: 0px;   padding: 0 10px 10px;  width: 730px;}
.save-button{   background: none repeat scroll 0 0 #014166; border-radius: 5px 5px 5px 5px; color: #FFFFFF; cursor: pointer; float: left; 
font-size: 12px; padding: 6px;text-align: center; width: 68px; margin-left:10px;}
/******************************************** CREATE NOTES ENDS HERE ************************************/
.done-but{height:auto; width:52px; padding:2.5px 5px; color:#055481; font-size:11px; font-family:arial; border:1px solid #999; background:url(../images/done-bg.jpg) left top repeat-x; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin:0 0 0 25px;}

/*****************************************************************************************/
.post-image-gallery{ clear: both; margin: 30px 0 0; padding: 0;}

.post-image-item{width:100%;margin:0 0 5px 0; height:319px; padding:0; text-align:center;	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow:0 0px 2px rgba(0, 0, 0, 0.4);
	box-shadow:0 0px 2px rgba(0, 0, 0, 0.4);}

.post-image-item > img {
    height: 100%;
    margin: 0;
    width: 100%;
}

/*****************************************************************************************/
.post-video-gallery{ clear: both; margin: 30px 0 0; padding: 0;}

.post-image-item{width:100%;margin:0 0 5px 0; height:319px; padding:0; text-align:center;	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow:0 0px 2px rgba(0, 0, 0, 0.4);
	box-shadow:0 0px 2px rgba(0, 0, 0, 0.4);}

.post-image-item > img {
    height: 100%;
    margin: 0;
    width: 100%;
}
.recommend-active{font-weight:bold; color:#000!important;}
.note-active{font-weight:bold; color:#000!important; float:left;}

/********************************************* Event Create popup Start ************************************************/

.contactevent-div{width:100%/*730*/; margin:0 0 0 0; padding:0; float:left;}
.contactevent-div h1{margin:0; padding:10px; font-family:arial; font-size:16px; border-bottom:1px solid #dddbdb;}
.contactevent-iner{width:100%;float:left;margin:0;padding:0 0px 12px 0px;} 
.contactevent-iner p{float:left; width:96%; margin:0;padding:11px 0 0 14px; font-family: Helvetica; font-size:14px; color:#858383; font-weight:normal;}
.contactevent-iner p label{width:25%;float:left;line-height:20px;margin:0;}
.input22{ border-radius:4px;background:#f4f4f4;float:left;border:#ebebeb solid 1px; width:63%; height:22px;color:#1C1E1F;margin:0;line-height:25px;padding-left:8px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#858383;}
.inputtext{border-radius:4px;background:#f4f4f4;float:left;border:#ebebeb solid 1px;width:63%;height:60px; color:#858383; margin:0;line-height:17px;padding:6px 0 0 8px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.input44{ border-radius:4px;background:#f4f4f4;float:left;border:#ebebeb solid 1px; width:27.2%; height:22px; color:#858383; margin:0 10px 0 0;line-height:25px;padding-left:8px; font-family:Arial, Helvetica, sans-serif; font-size:12px; }

.cal{background:url(images/calender-icon.png) 113px 5px no-repeat;}

.contacteventbut{width:457px; margin:0 0 0 0; padding:0 0 0 10px; float:left; border-top:1px solid #dddbdb;}

.button-line {border-top: 1px solid #DDDBDB; display: block; margin: 15px 0 0 !important;}
.but-can-sav a{color: #0B1174; display: block;}
.but-can-sav {width: 350px !important; margin-left:120px!important;}
.but-can-sav a {background-color: #0B1174;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    padding: 3px 0;
    text-align: center;
    text-decoration: none;
    width: 100px;
	border-radius:4px;
	-moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;
}

.post-list_message{
    clear: both;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    width: 100%;
		color:orange;
}

/********************************************* Event Create popup end here*****************************************************/
/*********new changes in event pages here **********/
.td22 { width:80%; margin:0;padding:10px;}
.img-evn td{ padding:2% 0 2% 0; line-height:18px; text-align:justify;}


/*********new changes in event pages here **********/
/*********Popup box ends here **********/

/*********Css change for POll div (12-16-2013) **********/
.lounchdivbot{margin:0; padding:0; float:left;width:100%;}
.lounchdivbot h1{margin:0; padding:5px 8px 10px 8px; font-size:18px; color:#014166; border-bottom:1px solid #ccc;}
.lounchdivbot p{margin:0; padding:5px 8px; color:#676565; line-height:20px; text-align:justify;}
.lounchdivbot ul{margin:0; padding:0;}
.lounchdivbot ul li{display:block; list-style-type:none; margin:0; padding: 5px 0 5px 5px;}
#poll_result label {float: right; margin: -4px 0 0; padding: 0; width: 94%;	font-size:12px;}

/*********Popup box ends here **********/

/*******************************20/12/2013*******************************************/
#poll_result .input2222{border: 1px solid #E7E7E7;border-radius: 5px; height: 20px;margin-top: 3px; padding: 5px;width:98%;}

#poll_result .radiobut{margin:0; padding:0; background:red;}

.rounded-corners {border-radius: 8px 8px 8px 8px;border: 1px solid #DDDDDD;}

a.player {width: 425px; height:319px;}

.gap9{/* padding:10px 0;*/}

ul.menu_tool_submenu_tool_block li ul{margin:0;padding: 0;}

ul.menu_tool_submenu_tool_block li ul li{margin:0; padding: 0;}
		
		
/* Start css For menu system*/		

.toggleMenu {display:  none; padding: 10px 15px;color: #fff;}
.nav { list-style: none;
     *zoom: 1;
     
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    
}
.nav a {
    padding:0;
    color:#fff;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
		z-index:999;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
     background:#F7F7F7;
		 box-shadow:1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #666666;
    z-index:100;
}
.nav li li li a {
    background:#dddddd;
		z-index:200;
}

.menu_tool_container.green_glass ul.menu_tool_submenu_tool_block li a:hover{background:#ccc; display:block;}
/*.menu_tool_container.green_glass ul.menu_tool_submenu_tool_block li a.active {
    background:red;
    
}*/

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}


/* End for CSS menu system*/

/******************************************************/

.notes-commnets-option{float: left; margin: 0;}
.notes-commnets-option ul{margin:0; padding:0; width:354px; float:left;}
.notes-commnets-option ul li{display:inline; list-style:none; margin: 0;width: auto;}
.notes-commnets-option ul li a{color: #B1ABAB;float: left;margin: 5px 0 0;padding:5px 5px 8px 7px; font-weight:bold;}
.notes-commnets-option ul li a:hover{ color:#000;}
.notes-commnets-option ul li a.active-type{ font-weight:bold; color:#000;}


.notes-commnets { background-color: #F7F7F7;border:1px solid #DEDEDE;border-radius: 5px;float: left;height: auto;padding: 5px;width: 342px;}
.notes-commnets .input55 {border:1px solid #E7E7E7;border-radius: 5px;margin-top: 3px;padding: 5px;width: 280px;}
.comm-main-notes {border-bottom:1px solid #E9E9E8;float: left; height: auto; margin: 0; padding: 0; width: 342px;}
.comm-right-notes {float: left;height:auto;margin-bottom: 4px;    margin-top: 4px;    padding: 0;    width: 290px;}
.comm-main-notes span {color: #B1ABAB; display:block;margin-top:5px;}

/***********************04-03-2014***********************/
.poll-head-inner img { float: left;  margin: 0 6px 0 0; padding: 0;}
.allinputanswer {float: left; font-size: 11px; margin: 0; padding: 0 10px 8px 10px;}
.allinputanswer ul{margin:0;padding:0; float:left;}
.allinputanswer ul li{display:inline; list-style-type:none; margin:0; padding:0; border-bottom:none;}
.inputanswer > input {margin: 0 10px; padding: 0 10px 5px;}

/******************Recommend sharing popup */
.popupmain {margin: 0 auto;max-width: 735px;width: 99%;position:relative;}
.popupmaindiv{margin:0; padding:2%; float:left; width:100%;} 
.popupdiv {color: #2F2F2F; float: left;margin: 0; padding:0;width: 96%;}
.popupdiv p{margin:0; padding:0; font-size:14px;}
.popupdiv p label{ width:15%; float:left;margin:0; padding:0; font-size:14px;}

.select-inpu{   border: 1px solid #DEDEDE;
    border-radius: 5px;
    height: auto;
    margin: 0 0 5px;
    padding: 5px;
    width: 30%;}
.inpu_2{ border: 1px solid #999999; margin:0 0 5px 0; padding: 2px;width: 29%;}

.status{margin:20px 0 0 0; padding:0; width:100%; float:left; border-top:1px dashed #CCCCCC;border-bottom: 1px solid #bdc7d8;}
.-status{margin:0; padding:0; width:97%; float:left; padding:2% 2% 2% 1%;}
.-status-left{margin:0; padding:0; float:left; width:14%;}
.-status-right{margin:0; padding:0; float:left; width:86%;}
.-status-right h2{margin:0; padding:0; font-size:14px;}
.-status-right p span{margin:0; padding:0 0 10px 0; font-size:11px;}
.-status-right p{margin:0; padding:0 0 4px 0; font-size:14px;}

.status-butdiv{ margin:0; padding:0; float:left; width:100%; text-align:right;}
.status-butdiv p{margin:10px 0 0 0; padding:0;}
.status-butdiv p a{ text-decoration:none;}
.but-input{ background:#3d5b99; border-radius:5px; padding:3px; border:1px solid #435a8b; color:#fff;cursor:pointer;}
.but-input22{ background:#fafafb; border-radius:5px; padding:3px; border:1px solid #cdced0; color:#4e5665; cursor:pointer;}
.msg-to2popup{   background-color: #F7F7F7;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    float: left !important;
    height: auto;
    margin-left: 98px;
    padding: 5px;
    width: 496px;}
.linehight{ line-height: 22px !important; width:5%!important;}
.no-margin{margin:0!important';}

.launch-message{line-height:22px !important;}