
<div class="content-left">
    <div class="login-message">
        <?php if($this->error && isset($this->form)){
            if(isset($this->error['email'])) echo '* Please enter correct email address.<br>';
			if(isset($this->error['password'])) echo '* Please enter password.<br>';
			if(isset($this->error['login'])) echo '* Invalid username/password combination. <br>';
        }
		?>
    </div>
	<form method="post" enctype="application/x-www-form-urlencoded" name="login" id="login" action="<?php echo $this->baseUrl()."/index/index/" ?>">
		<div class="form-left">
			<h1>Login</h1>
			<div class="email-box">
				<label>Email : </label>
				<input name="email" type="email" value="<?php echo isset($this->form)?$this->form->getElement('email')->getValue():'' ; ?>" class="required"/>
			</div>
			<div class="email-box">
				<input name="rememberme" type="checkbox" class="chk-box" value="" /> Keep me logged in
			</div>
			<div style="clear:both;"></div>
			<div class="email-box">
				<label>Password : </label>
				<input name="password" id="login_password" type="password" class="required" value="" />
			</div>
			<div style="clear:both;"></div>
			<div class="email-box">
				<label>&nbsp;</label>
				<input name="login" type="submit" class="log-but" value="Login" />
				<a href="#">Forgot your password?</a>
			</div>
		</div>
    </form>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        $("#birth_date").datepicker({
            changeMonth: true,
            changeYear: true,
			yearRange: "1900:2020",
            showAnim:"slideDown"
        });
    });
</script>

<div class="content-right">
    <div class="register-message">
        <?php if($this->error && isset($this->reg_form)){
            if(isset($this->error['email'])) echo '* Please enter correct email address.<br>';
			if(isset($this->error['password'])) echo '* Please enter password.<br>';			
			if(isset($this->error['first_name'])) echo '* Please enter first and last name. <br>';
        }
		?>
    </div>
	<form method="post" enctype="application/x-www-form-urlencoded" name="register" id="register" action="<?php echo $this->baseUrl()."/index/register/" ?>" >
	<h2>Register</h2>
		<div class="cont-right">
			<label class="name">Name *</label>
			<input name="first_name" id="first_name" type="text" value="<?php echo isset($this->reg_form)?$this->reg_form->getElement('first_name')->getValue():'' ; ?>">
			<input name="last_name" id="last_name" value="<?php echo isset($this->reg_form)?$this->reg_form->getElement('last_name')->getValue():''; ?>" type="text">

		</div>

		<div class="cont-right">
			<div class="bir">
				<label class="name">Birthday</label>
				<input name="birth_date" id="birth_date" type="text" value="" class="bir2">				
			</div>
		</div>

		<div class="cont-right">
			<div class="radio-but">
			<label class="name gender">Sex </label>
			<input name="sex" type="radio" class="radio" value="0" checked="checked">
			  Male
			  <input name="sex" class="radio" type="radio" value="1">
			  Female
			  </div>
		</div>

		<div class="cont-right">
			<label class="name">Email *</label>
			<input name="email" id="email" type="email" value="<?php echo isset($this->reg_form)?$this->reg_form->getElement('email')->getValue():'' ; ?>" class="text-feild">
		</div>

		<div class="cont-right">
			<label class="name">Password *</label>
			<input name="password" type="password" id="password" value="" class="text-feild">
		</div>
		<div class="cont-right">
			<label class="name">Verify Password *</label>
			<input name="password_verify" id="password_verify" type="password" value="" class="text-feild">
		</div>
		<div class="cont-right">
		   <input name="register" type="submit" class="sp_but" value="Sign Up">
		</div>
	</form>
</div>