<?php
echo $this->flashMessenger;
?>
<div class="messages">
<?php 
if ($this->messages){
    echo '<ul>';
    foreach($this->messages as $message) {
        echo '<li>'.$message.'</li>';
    }
    echo '</ul>';
}
?>
</div>
<form method="post" enctype="multipart/form-data" name="login" action="<?php echo $this->baseUrl()."/index/login/" ?>">
	<div class="form-left">
		<h1>Login</h1>
		<div class="email-box">
			<label>Email : </label>
			<input name="email" type="text" value="">
		</div>
		<div class="email-box">
			<label>&nbsp;</label> 
			<input name="rememberme" type="checkbox" class="chk-box" value="" /> Keep me logged in
		</div>
		<div style="clear:both;"></div>
		<div class="email-box">
			<label>Password : </label>
			<input name="password" type="password" value="" />
		</div>
		<div style="clear:both;"></div>
		<div class="email-box">
			<label>&nbsp;</label>
			<input name="login" type="submit" class="log-but" value="Login" />
			<a href="#">Forgot your password?</a>
		</div>
	</div>
</form>