<?php 

?>
<div class="messages">
<?php 
if ($this->messages){
    echo '<ul>';
    foreach($this->messages as $message) {
        echo '<li>'.$message.'</li>';
    }
    echo '</ul>';
}
?>
</div>

<h2>Register</h2>
    <div class="cont-right">
        <label class="name">Name</label>
        <input name="" type="text" value="First Name">
        <input name="" value="last name" type="text">
    </div>

    <div class="cont-right">
	    <div class="bir">
	        <label class="name">Birthday</label>
	        <input name="birth_date" type="date" value="" class="bir2">
		</div>
    </div>

    <div class="cont-right">
        <div class="radio-but">
         Sex <input name="sex" type="radio" class="radio" value="0">
          Male
          <input name="sex" class="radio" type="radio" value="1">
          Female
		  </div>
    </div>
      
    <div class="cont-right">
        <label class="name">Email</label>
        <input name="email" type="text" value="" class="text-feild">
    </div>

	<div class="cont-right">
        <label class="name">Password</label>
        <input name="password" type="password" value="" class="text-feild">
    </div>
    <div class="cont-right">
        <label class="name">Verify Password</label>
        <input name="password_verify" type="password" value="" class="text-feild">
    </div>
    <div class="cont-right">
       <input name="register" type="submit" class="sp_but" value="Sign Up">
    </div>
