<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
	    <?php echo $this->partial('html/head.phtml'); ?>
    </head>
    <body>
        <div id="pagewrap">
            <?php echo $this->partial('html/header.phtml'); ?>
            <!-- /#header -->
            <div id="content">
                <?php echo $this->layout()->content ?>
            </div>
            <!-- /#content -->
            <?php echo $this->partial('html/footer.phtml'); ?>
            <!-- /#footer -->
        </div>
        <!-- /#pagewrap -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>