<header id="header">
	<hgroup>
		<h1 id="site-logo"></h1>
	</hgroup>
    <?php 
      if (Zend_Auth::getInstance()->hasIdentity())
	     echo $this->partial('html/toolbar.phtml'); 
    ?>
</header>