<div class="navi">
    <div id="menu1" class="menu_container green_glass full_width">
        <div class="mobile_collapser">
            <label for="hidden_menu_collapser"> <span class="mobile_menu_icon"></span> Menu </label>
        </div>
        <input id="hidden_menu_collapser" type="checkbox">
        <ul>
	        <li> <a href="<?php echo $this->baseUrl()."/user/chpwd/" ; ?>">Update Password</a></li>
	        <li> <a href="<?php echo $this->baseUrl()."/user/delacc/" ; ?>">Delete Account</a></li>
	        <li> <a href="<?php echo $this->baseUrl()."/role/list/" ; ?>">Manage Roles</a></li>
	        <li> <a href="<?php echo $this->baseUrl()."/user/logout/" ; ?>">Logout</a></li>
        </ul>
    </div>
</div>