<div class="panel panel-info">
    <div class="panel-heading">Form: Add Role</div>
    <div class="panel-body">
		<?php if($this->error && isset($this->form)){
            if(isset($this->error['duplicate'])) echo '* This role already exist.<br>';
            if(isset($this->error['duplicate'])) echo '* Issue with role creation.<br>';
        }
		?>
		<form method="post" action="<?php echo $this->baseUrl()."/role/add/" ; ?>" role="form" class="form-horizontal">
			<div class="form-group">
				<label for="Clinic_clinic_name" class="col-sm-5 control-label required">Role Name <span class="required">*</span></label>			
				<div class="col-sm-3">
					<input type="text" id="rname" name="rname" class="form-control" maxlength="255" size="60">				
				</div>
			</div>	
			<div class="col-md-14 text-center">
				<input type="submit" value="Submit" name="yt0" class="btn btn-success">		
			</div>

		</form>	
	</div>
</div>