	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"> Manage Roles </h1>
		</div>
	</div>
	<div class="row mar-bot10">
		<div class="col-lg-6 "> 
			<a class="btn btn-info" href="<?php echo $this->baseUrl()."/role/add/" ; ?>">Add New</a>&nbsp;
			<a class="btn btn-info but_delete" data-toggle="modal" data-target="#confirmDelete" data-title="Delete Clinics" data-message="Are you sure about this?" href="javascript:void(0)">Delete</a> 
		</div>
		
	</div>
    <div class="page-content">
    	<div class="">
        	<div class="table-responsive">
            	<table id="tbl-content" class="table table-condensed table-bordered table-hover">
              		<thead>
						<tr>
		                  	<th></th>
		                  	<th>Id</th>
		                  	<th>Name</th>
		                  	<th>Created</th>
		                	<th>Actions</th>
		                </tr>
              		</thead>
              		<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
	 	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">Delete Parmanently</h4>
			    </div>
			    <div class="modal-body">
					<p>Are you sure about this?</p>
			    </div>
		      	<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <button type="button" class="btn btn-danger" id="confirm" data-role="Delete Role">Delete</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="statusDelete" role="dialog" aria-labelledby="statusDeleteLabel" aria-hidden="true">
	 	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">Delete Result</h4>
			    </div>
			    <div class="modal-body">
					<p>Please select at least one clinic to delete</p>
			    </div>
		      	<div class="modal-footer">
			        <button type="button" class="btn btn-success" id="okay" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
<script>
    $(document).ready(function () {
    	var table = $('#tbl-content').DataTable({
            "paging": <?php echo $this->paging; ?>,
            "searching": <?php echo $this->searching; ?>,
            "ordering": <?php echo $this->ordering; ?>,
            "pageLength": <?php echo $this->pageLength; ?>,
        	"dom": '<"top"f>rt<"bottom"p><"clear">',
        	"columns": [
        	            { "data": "checkbox" },
        	            { "data": "id" },
        	            { "data": "name" },
        	            { "data": "created" },
        	            { "data": "update" }
        	        ],
			"columnDefs": [{
        	            "targets": [0,4],
        	            "searchable": false,
        	            "orderable": false,
        	            "sortable": false,
					}],
			"aaSorting": [  ], // disable initial sorting as by default table is sorted by fist column		  
			"data": <?php echo $this->roles; ?>,
					
        });

		// search function here
        $("#search-content").bind('keyup search input paste cut',function() {
            
        	table.search(this.value);
        	table.draw();
    	});
    	
        $('#confirmDelete').find('.modal-footer #confirm').bind('click', function(){

        	var table = $('#tbl-content').DataTable();
        	var param = '';
        	param = table.$('input').serialize();
        	if(param != ''){
        		$(this).deleteData(param, $(this).attr('data-role'));
        			
        	}else{
        		$('#confirmDelete').modal('hide');
        		$('#statusDelete').find('.modal-body p').text('Please select at least a role to delete');
				$('#statusDelete').modal('show');
        	}	
        });

        $.fn.extend({
            deleteData: function (param, role) {
                
                var url = '';
                if(role == 'Delete Role'){
                	url = "<?php echo $this->baseUrl()."/role/delete/" ; ?>";
                }
            	$.ajax({
        			type:"POST",
        			url:url,
        			data:param,
        			dataType:"json",
        			error:function(req, status, error){
        				// some error in request
        			},
        			success:function(data){
        				if (data.status === false){
        					$('#confirmDelete').modal('hide');
        					$('#statusDelete').find('.modal-body p').text(data.message);
        					$('#statusDelete').modal('show');
            			} else {
            				location.reload();
            			}
        			}

        		});
            }
        });
    });
     
    </script>